<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="Comp367-Lab4" value="https://pkgs.dev.azure.com/aadeyey1/194f4b28-4eee-4bec-9e68-a1a29be39ef6/_packaging/Comp367-Lab4/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>
